 #container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    height: 500px;
    width: 500px;

 }
 .grid{
    background-color: RED;
    display:flex;
    border: .5rem solid black;
    height: 25px;
    width: 25px;
} 